In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [3]:
df = pd.read_csv('sugar_cosmetics_instagram_data.csv')

In [4]:
df.columns = df.columns.str.replace(' ', '_').str.lower()

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 14 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   post_date          50000 non-null  object
 1   post_type          50000 non-null  object
 2   campaign_type      50000 non-null  object
 3   hashtags           50000 non-null  object
 4   audience_emotion   50000 non-null  object
 5   engagement_source  50000 non-null  object
 6   impressions        50000 non-null  int64
 7   reach              50000 non-null  int64
 8   likes              50000 non-null  int64
 9   comments           50000 non-null  int64
 10  shares             50000 non-null  int64
 11  saves              50000 non-null  int64
 12  profile_visits     50000 non-null  int64
 13  follows            50000 non-null  int64
dtypes: int64(8), object(6)
memory usage: 5.3+ MB

In [6]:
df['post_id'] = range(1, len(df) + 1)

In [7]:
df['post_date'] = pd.to_datetime(df['post_date'],yearfirst=True)

df['post_year'] = df['post_date'].dt.year
df['post_day_of_week'] = df['post_date'].dt.day_name()
df['post_day'] = df['post_date'].dt.day
df['post_month_name'] = df['post_date'].dt.month_name()
df['post_month'] = df['post_date'].dt.month

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 20 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   post_date          50000 non-null  datetime64[ns]
 1   post_type          50000 non-null  object
 2   campaign_type      50000 non-null  object
 3   hashtags           50000 non-null  object
 4   audience_emotion   50000 non-null  object
 5   engagement_source  50000 non-null  object
 6   impressions        50000 non-null  int64
 7   reach              50000 non-null  int64
 8   likes              50000 non-null  int64
 9   comments           50000 non-null  int64
 10  shares             50000 non-null  int64
 11  saves              50000 non-null  int64
 12  profile_visits     50000 non-null  int64
 13  follows            50000 non-null  int64
 14  post_id            50000 non-null  int64
 15  post_year          50000 non-null  int32
 16  post_day_of_week   50000 non-null  object
 17  post_day           50000 non-null  int32
 18  post_month_name    50000 non-null  object
 19  post_month         50000 non-null  int32
dtypes: datetime64[ns](1), int32(3), int64(9), object(7)
memory usage: 7.1+ MB

In [9]:
df['post_type'].value_counts()

post_type
Reel     12599
Story    12517
Video    12485
Image    12399
Name: count, dtype: int64

In [10]:
df['campaign_type'].value_counts()

campaign_type
Tutorial             10186
Giveaway              9998
Festive Offer         9990
Product Launch        9923
Influencer Collab     9903
Name: count, dtype: int64

In [11]:
df['engagement_source'].value_counts()

engagement_source
Collab        12633
Organic       12508
Influencer    12501
Paid          12358
Name: count, dtype: int64

In [12]:
df['audience_emotion'].value_counts()

audience_emotion
Inspired     10137
Excited      10061
Curious      10027
Confident     9891
Happy         9884
Name: count, dtype: int64

In [13]:
post_type_table = (
    df[['post_type']]
    .drop_duplicates()
    .reset_index(drop=True)
    .reset_index()
    .rename(columns={'index': 'post_type_id'})
)
post_type_table['post_type_id'] += 1  # Optionally start ID from 1

campaign_type_table = (
    df[['campaign_type']]
    .drop_duplicates()
    .reset_index(drop=True)
    .reset_index()
    .rename(columns={'index': 'campaign_type_id'})
)
campaign_type_table['campaign_type_id'] += 1

engagement_source_table = (
    df[['engagement_source']]
    .drop_duplicates()
    .reset_index(drop=True)
    .reset_index()
    .rename(columns={'index': 'engagement_source_id'})
)
engagement_source_table['engagement_source_id'] += 1

In [14]:
df = df.merge(post_type_table,on='post_type').merge(campaign_type_table,on='campaign_type').merge(engagement_source_table,on='engagement_source')

In [15]:
df.drop(columns=['post_type','campaign_type','engagement_source'],inplace=True)

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 20 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   post_date             50000 non-null  datetime64[ns]
 1   hashtags              50000 non-null  object
 2   audience_emotion      50000 non-null  object
 3   impressions           50000 non-null  int64
 4   reach                 50000 non-null  int64
 5   likes                 50000 non-null  int64
 6   comments              50000 non-null  int64
 7   shares                50000 non-null  int64
 8   saves                 50000 non-null  int64
 9   profile_visits        50000 non-null  int64
 10  follows               50000 non-null  int64
 11  post_id               50000 non-null  int64
 12  post_year             50000 non-null  int32
 13  post_day_of_week      50000 non-null  object
 14  post_day              50000 non-null  int32
 15  post_month_name       50000 non-null  object
 16  post_month            50000 non-null  int32
 17  post_type_id          50000 non-null  int64
 18  campaign_type_id      50000 non-null  int64
 19  engagement_source_id  50000 non-null  int64
dtypes: datetime64[ns](1), int32(3), int64(12), object(4)
memory usage: 7.1+ MB

In [28]:
post_hashtags = df[['post_id','hashtags']]

In [31]:
post_hashtags['hashtags_col'] = post_hashtags['hashtags'].str.split(',')

C:\Users\bhanu\AppData\Local\Temp\ipykernel_11784\2466178273.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  post_hashtags['hashtags_col'] = post_hashtags['hashtags'].str.split(',')

In [35]:
post_hashtags = post_hashtags.drop(columns='hashtags')

In [38]:
post_hashtags.rename(columns={'hashtags_col':'hashtags'},inplace=True)

In [41]:
post_hashtags = post_hashtags.explode('hashtags')

In [42]:
post_hashtags

       post_id         hashtags
0            1  #SugarCosmetics
0            1     #MakeupGoals
0            1       #BoldLooks
1            2       #BoldLooks
1            2     #MakeupGoals
...        ...              ...
49998    49999     #VeganBeauty
49998    49999       #BoldLooks
49999    50000     #MakeupGoals
49999    50000     #VeganBeauty
49999    50000       #BoldLooks

[100044 rows x 2 columns]

In [2]:
df = pd.read_csv('main_table.csv')

In [4]:
df.drop(columns='hashtags',inplace=True)

In [5]:
df.to_csv('main_table.csv',index=False)